.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-30 {
  gap: 30px;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "aside main"
    "footer footer";
  grid-template-columns: 250px auto;
  grid-template-rows: 50px 50px calc(100vh - 126px) 26px;
  margin: 0 !important;
}

footer {
  grid-area: footer;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #00305b;
  color: white;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}

nav {
  grid-area: nav;
  width: 100%;
  background-color: #037bf4;
  color: white;
  font-size: 18px;
  padding: 5px 0;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  float: right;
}

nav li {
  display: inline;
  padding: 10px;
}

nav li a {
  cursor: pointer;
  transition: all ease 0.2s;
}

nav li a:hover {
  color: #d5d5d5;
  text-decoration: underline #000000;
  text-underline-offset: 5px;
}

.nav-item {

}

.aside {
  grid-area: aside;
  background-color: darkgoldenrod;
  color: white;
  height: 100%;
}

header {
  width: 100%;
  grid-area: header;
  background-color: #037bf4;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.header-text {
  padding: 5px;
}

main {
  grid-area: main;
  font-size: 20px;
}

.p-20 {
  padding: 20px;
}

.side-menu-item {
  padding: 10px;
  cursor: pointer;
}

#Bio {
  background-color: #c8c8c8;
}

section {
  height: 100%;
  overflow: auto;
}

form {
  padding: 30px;
  background-color: #a4a4a4;
  border: 2px solid black;
  min-width: 150px;
  max-width: 300px;
  width: 100%;
  margin: auto;
  justify-content: center;
}

#loginForm input {
  min-width: 100px;
  max-width: 250px;
  width: 100%;
  margin: auto;
}

#showRegister {
  cursor: pointer;
  color: #037bf4;
}

#no-account {
  margin-top: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.error {
  font-weight: 600;
  font-size: 20px;
  color: #c00000;
  padding: 5px;
}

#loginButton, #registerButton {
  margin: 10px auto auto auto;
  border-radius: 8px;
  background-color: #037bf4;
  color: white;
  padding: 5px;
  height: 35px;
  min-width: 100px;
  max-width: 250px;
  width: 100%;
}

.loading {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.loading:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin: 0;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn {
  border-radius: 5px;
  background-color: #037bf4;
  color: white;
}
